@import '../../ui/styles/variables';
@import '../../ui/styles/mixins';

.projectsContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}
.projectCard {
  width: 20rem;
  margin: 1rem;
  padding: 1rem;
  height: max-content;
  min-height: 35rem;
  font-family: monospace;
  font-weight: 600;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  box-shadow: $shadow-small;
  .card-title {
    @include head3;
  }
  .card-text {
    font-weight: normal;
  }
}
.projectThumbnail {
  height: 100%;
  width: auto !important;
  max-width: 100%;
  border-radius: 8px;
  margin: 0 auto;
  margin-bottom: 2rem;
  cursor: pointer;
}
.projectShort {
  text-align: justify;
  padding: 1rem;
}
.detailsImage {
  max-width: 300px;
  margin: 0 auto;
}
.projectDetails {
  max-width: 500px;
  margin: 1rem auto;
}
.projectDetailsCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  .toggleProjectButton {
    display: block !important;
  }
}
