.projectsContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}
.projectCard {
  width: 20rem;
  margin: 1rem;
  padding: 1rem;
  font-family: monospace;
  font-weight: 600;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  box-shadow: 0px 6px 31px -9px rgba(0, 0, 0, 0.75);
}
.projectThumbnail {
  max-width: 50%;
  height: auto;
  width: auto;
  margin-bottom: 2rem;
  cursor: pointer;
}
.projectShort {
  text-align: justify;
  padding: 1rem;
}
.cardLink {
  display: block;
  margin: 0.2rem;
  color: inherit;
  padding: 0 1rem;
  font-size: 1rem;
}
.cardLink:hover {
  color: navy;
  text-decoration: none;
}
.cardLink:hover .underline-link {
  width: 100%;
}
.underline-link {
  display: block;
  background: navy;
  height: 2px;
  width: 0%;
  transition: width 0.3s ease;
}
