.projectsContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}
.projectCard {
  width: 20rem;
  margin: 1rem;
  padding: 1rem;
  font-family: monospace;
  font-weight: 600;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  box-shadow: 0px 6px 31px -9px rgba(0, 0, 0, 0.75);
}
.projectThumbnail {
  max-width: 50%;
  height: auto;
  width: auto;
  margin-bottom: 2rem;
  cursor: pointer;
}
.projectShort {
  text-align: justify;
  padding: 1rem;
}
.detailsImage {
  max-width: 300px;
  margin: 0 auto;
}
.projectDetails {
  max-width: 500px;
  margin: 1rem auto;
}
.informationMargin {
  margin: 0 1rem;
}
