@mixin sm {
  @media only screen and (min-width: $breakpoint-sm) {
    @content;
  }
}
@mixin md {
  @media only screen and (min-width: $breakpoint-md) {
    @content;
  }
}
@mixin lg {
  @media only screen and (min-width: $breakpoint-lg) {
    @content;
  }
}
@mixin xl {
  @media only screen and (min-width: $breakpoint-xl) {
    @content;
  }
}
@mixin customBreak($screenWidth) {
  @media only screen and (min-width: $screenWidth+'px') {
    @content;
  }
}

@mixin paddings {
  @for $i from 0 through 10 {
    .pad-#{$i} {
      padding: #{$i/2}rem !important;
    }
  }
}
@include paddings;

@mixin paddings-top {
  @for $i from 0 through 10 {
    .pad-#{$i}-t {
      padding-top: #{$i/2}rem !important;
    }
  }
}
@include paddings-top;

@mixin paddings-bottom {
  @for $i from 0 through 10 {
    .pad-#{$i}-b {
      padding-bottom: #{$i/2}rem !important;
    }
  }
}
@include paddings-bottom;

@mixin paddings-left {
  @for $i from 0 through 10 {
    .pad-#{$i}-l {
      padding-left: #{$i/2}rem !important;
    }
  }
}
@include paddings-left;

@mixin paddings-right {
  @for $i from 0 through 10 {
    .pad-#{$i}-r {
      padding-right: #{$i/2}rem !important;
    }
  }
}
@include paddings-right;

.marg-0-auto {
  margin: 0 auto;
}

@mixin margins {
  @for $i from 0 through 10 {
    .marg-#{$i} {
      margin: #{$i/2}rem !important;
    }
  }
}
@include margins;

@mixin margins-top {
  @for $i from 0 through 10 {
    .marg-#{$i}-t {
      margin-top: #{$i/2}rem !important;
    }
  }
}
@include margins-top;

@mixin margins-bottom {
  @for $i from 0 through 10 {
    .marg-#{$i}-b {
      margin-bottom: #{$i/2}rem !important;
    }
  }
}
@include margins-bottom;

@mixin margins-left {
  @for $i from 0 through 10 {
    .marg-#{$i}-l {
      margin-left: #{$i/2}rem !important;
    }
  }
}
@include margins-left;

@mixin margins-right {
  @for $i from 0 through 10 {
    .marg-#{$i}-r {
      margin-right: #{$i/2}rem !important;
    }
  }
}
@include margins-right;

@mixin head1 {
  color: navy;
  font-size: 32px;
  line-height: 1.5;
  font-weight: bold;
  margin-bottom: 10px;
}

@mixin head2 {
  color: navy;
  opacity: 0.8;
  font-size: 28px;
  line-height: 1.6;
  font-weight: bold;
  margin-bottom: 8px;
}

@mixin head3 {
  color: darkslategray;
  font-family: monospace;
  font-size: 24px;
  line-height: 1.7;
}
