.aboutCardContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}
.aboutCard {
  width: 20rem;
  margin: 1rem auto;
  font-family: monospace;
  font-weight: 600;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  box-shadow: 0px 6px 31px -9px rgba(0, 0, 0, 0.75);
}
