@import '../../ui/styles/mixins';
@import '../../ui/styles/variables';

.contactTitle {
  @include head2;
}

.contactParagraph {
  color: $white;
}

.recaptchaContainer {
  transform: scale(0.82);
  -webkit-transform: scale(0.82);
  transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  margin: 0 auto;
}
@include sm {
  .recaptchaContainer {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
