@import '../../ui/styles/variables';
@import '../../ui/styles/mixins';

.header {
  position: fixed;
  top: 0;
  background: $grey-900;
  z-index: 5;
  width: 100%;
  box-shadow: $shadow-medium;
  .pageTitle {
    @include head1;
    color: $white;
    padding: 0.5rem 0;
    margin: 0;
  }
}
