@import '../variables';
@import '../mixins';

.customCard {
  box-shadow: $shadow-small;
  padding: 1rem 2.4rem;
  border-radius: 8px;
  max-width: 85vmin;
  margin: 1rem auto;
  background-color: $grey-400;
}
@media only screen and (max-width: 370px) {
  .customCard {
    max-width: 90vmin;
  }
}
@include md {
  .customCard {
    width: 30rem;
  }
}
@include lg {
  .customCard {
    max-width: 35rem;
  }
}
.cardLink {
  display: block;
  margin: 0.4rem 0.2rem;
  color: inherit;
  font-size: 1rem;
  &:hover {
    color: navy;
    text-decoration: none;
    .underline-link {
      width: 100%;
    }
  }
}
.underline-link {
  display: block;
  background: navy;
  height: 2px;
  width: 0%;
  transition: width 0.3s ease;
}
a:not([href]):hover {
  color: navy;
}
