@use './standards.scss';

.App {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  text-align: center;
  font-family: Roboto, monospace;
}
main {
  flex: 1 0 auto;
  overflow-x: hidden;
  position: relative;
}
header {
  position: fixed;
  top: 0;
  background: white;
  z-index: 5;
  width: 100%;
  box-shadow: 5px 0 5px 0px black;
}
.loadingCircles {
  margin-left: auto;
}
.form {
  min-width: 200px;
  max-width: 500px;
}
.button {
  margin: 0.5rem;
}
.pageTitle {
  margin: 0.8rem;
  font-size: 2rem;
}
.subtitle {
  size: 2rem;
  font-family: Roboto, monospace;
}
.headerSpacer {
  height: 5.5rem;
}
button.button.btn {
  font-weight: 300;
}
button.btn.btn-primary,
button.button.btn.btn-primary {
  background-color: navy;
  border-color: navy;
  font-weight: 300;
}
h1,
h2 {
  color: navy;
  font-weight: bold;
}
h2 {
  font-size: 1.7rem;
}
.cardLink {
  display: block;
  margin: 0.2rem;
  color: inherit;
  font-size: 1rem;
}
.cardLink:hover {
  color: navy;
  text-decoration: none;
}
.cardLink:hover .underline-link {
  width: 100%;
}
.underline-link {
  display: block;
  background: navy;
  height: 2px;
  width: 0%;
  transition: width 0.3s ease;
}
a:not([href]):hover {
  color: navy;
}
.padded-top {
  margin-top: 2rem;
}
.inline-text {
  font-weight: 400;
}
div#g-recaptcha div {
  margin: 1rem auto;
}
.externalLink {
  margin: 1rem;
}
.icon {
  height: 2rem;
  margin: 0 1rem;
}
.g-recaptcha {
  margin: 0 auto;
}
#rc-anchor-container {
  width: 200px;
}
.carouselContainer {
  width: 60vw;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel {
  width: 100vw;
  height: 22rem;
  overflow: hidden;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.carouselMotionDiv {
  position: absolute;
  cursor: pointer;
  width: 60vw;
}
@media only screen and (max-width: 601px) {
  .carouselContainer {
    width: 100vw;
  }
  .carouselMotionDiv {
    width: 90vw;
  }
}
.refresh {
  padding: 10px;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  width: 20px;
  height: 20px;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.spacer {
  margin: 1rem auto;
  height: 7rem;
  background-image: url('https://res.cloudinary.com/robin-random-files/image/upload/c_scale,h_1000/v1588338786/DSC06569_p1strp.jpg');
  background-position: center;
  background-size: initial;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
