@import './ui/styles/mixins';
@import './ui/styles/variables';
@import './ui/styles/ComponentStyles/Button.scss';
@import './ui/styles/ComponentStyles/Card.scss';
@import './ui/styles/ComponentStyles/Form.scss';
@import './ui/styles/ComponentStyles/InputFields.scss';

.App {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  text-align: center;
  font-family: Roboto, monospace;
  font-size: 16px;
}
main {
  flex: 1 0 auto;
  overflow-x: hidden;
  position: relative;
}
.loadingCircles {
  margin-left: auto;
}
.spacer {
  height: 2.5rem;
}

.padded-top {
  margin-top: 2rem;
}
.inline-text {
  font-weight: 400;
}
div#g-recaptcha div {
  margin: 1rem auto;
}
.externalLink {
  margin: 1rem;
}
.icon {
  height: 2rem;
  margin: 0 1rem;
}
.g-recaptcha {
  margin: 0 auto;
}

.backgroundImageSpacer {
  margin: 1rem auto;
  height: 7rem;
  background-image: url('https://res.cloudinary.com/robin-random-files/image/upload/c_scale,h_1000/v1588338786/DSC06569_p1strp.jpg');
  background-position: center;
  background-size: initial;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.successMessage {
  width: 100%;
  p {
    margin: 0 auto;
    width: 80%;
    font-family: monospace;
  }
}

@include sm {
  .contactForm {
  }
}
