.App {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  text-align: center;
  font-family: Roboto, monospace;
}
main {
  flex: 1 0 auto;
}
header {
  position: fixed;
  top: 0;
  background: white;
  z-index: 5;
  width: 100%;
  box-shadow: 5px 0 5px 0px black;
}
.loadingCircles {
  margin-left: auto;
}
.form {
  min-width: 202px;
  max-width: 50%;
  margin: 0 auto;
}
.button {
  margin: 0.5rem;
}
.pageTitle {
  margin: 0.8rem;
  font-size: 2rem;
}
.subtitle {
  size: 2rem;
  font-family: Roboto, monospace;
}
.headerSpacer {
  height: 5.5rem;
}
button.button.btn {
  font-weight: 300;
}
button.btn.btn-primary,
button.button.btn.btn-primary {
  background-color: navy;
  border-color: navy;
  font-weight: 300;
}
h1,
h2 {
  color: navy;
  font-weight: bold;
}
h2 {
  font-size: 1.7rem;
}
.cardLink {
  display: block;
  margin: 0.2rem;
  color: inherit;
  font-size: 1rem;
}
.cardLink:hover {
  color: navy;
  text-decoration: none;
}
.cardLink:hover .underline-link {
  width: 100%;
}
.underline-link {
  display: block;
  background: navy;
  height: 2px;
  width: 0%;
  transition: width 0.3s ease;
}
a:not([href]):hover {
  color: navy;
}
.padded-top {
  margin-top: 2rem;
}
.inline-text {
  font-weight: 400;
}
div#g-recaptcha div {
  margin: 1rem auto;
}
.externalLink {
  margin: 1rem;
}
.icon {
  height: 2rem;
}
